.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #355C7D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  padding: 20px;
}

.navbar-brand {


  font-size: 1.5em;

}

.navbar-nav {
  display: flex;
  justify-content: space-between;

}

.nav-link {
  color: #fff;
  text-decoration: none;

}

.nav-link:hover {
  color: #2c0eed;
}

.navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}